
.expense-list{
    
    background-color: #FFFFFF;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid white;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 295px;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;

   
}



.expense-list button{
    background-color: red;
    color: white;
    border-style: none;
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    /* margin-left: 250px; */
    align-self: flex-end;
    margin-right: 20px;
    
}

.expense-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .expense-list th {
    text-align: left;
    vertical-align: top; /* Align headings to the top */
  }
  
  .expense-list th, .expense-list td {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    vertical-align: top; /* Align cell content to the top */
  }
  
  .expense-list th:last-child, .expense-list td:last-child {
    text-align: center;
  }
  
  